<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/weibo.css">
    <link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>大家说</title>
</head>
<body>
<div class="container">
        <ul class="nav nav-tabs btn-large btn-block " role="tablist">
            <li role="presentation" ><a href="/weibo/{{ user.username }}/1">个人微博主页</a></li>
            <li role="presentation" class="active"><a href="/weibo/all/1">大家说</a> </li>
            <li role="presentation"><a href="/weibo/all/{{ user.username }}/1">我的所有微博</a></li>
            <li role="presentation"><a href="/msg/{{ user.username }}">私信</a></li>
            <li role="presentation"><a href="/logout">登出</a></li>
            <li role="presentation"><a href={{ url_for('user.profile', username=user.username) }}>个人资料</a></li>
            <div class="avatar"><img src="{{ user.avatar }}"></div>
        </ul>


        {% for w in ws %}
        <div class="row-fluid weibo-container">

            <a href={{ url_for('user.profile', username=w.username) }}><img src="{{ w.avatar }}"></a>{{ w.username }}:<span>{{ w.content }}</span>
            <span class="time"> @{{ w.created_time }}</span>

              <div class="weibo-c-l"> <button class="id-comment" data-id="{{ w.id }}">评论({{ w.comment|length }})</button></div>
            <div id="id-div-comment-{{ w.id }}" class="comment-item comment-hide">

              {% for c in w.comment %}
                <div>
                  <span >{{ c.content }}</span>
                  <span >{{ c.created_time }}</span>
                  <span ><img src="{{ c.avatar }}"></span>
                  <span >by:{{c.username}}</span>
                </div>
              {% endfor %}
            <form action={{url_for('weibo.addcomment', weibo_id=w.id) }} method="post">
                <input name="user_id" value="{{ user.id }}" type="hidden">
                <input name="content" class="weibo-content" placeholder="评论">
                <button id="id-button-comment">哔哔两句</button>
            </form>
             </div>
            </div>

        {% endfor %}
        <div class="page">
        {% if  p_page > 1 %}
            <a href="/weibo/all/{{ p_page - 1}}">上一页</a>
        {% elif p_page == 1 %}
            <a>上一页</a>
        {% endif %}
        {% for p in page %}
            <a href="/weibo/all/{{ p }}">{{ p }}</a>
        {% endfor %}
        {% if  p_page < page|length %}
            <a href="/weibo/all/{{ p_page + 1}}">下一页</a>
        {% elif p_page == page|length %}
            <a>下一页</a>
        {% endif %}
        <br>
    当前第{{ p_page }}页

</div>
  </div>
<script>
    $('.id-comment').on('click',function(){
         var weiboId = $(this).data('id')
         var selector = '#id-div-comment-' + weiboId
         var div = $(selector)
         div.toggleClass('comment-hide')
    })
</script>
</body>
</html>